*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, monospace;
}
h4 {
   color: royalblue; 
}
h2 {
    color: aqua; 
 }
 p {
    color: rebeccapurple
 }

 div{

 }

 label{
    font-style:oblique;
    
    color: white;
 }

 .fondo1{
    background-color: darkblue;
 }

 .colornegro{
    color: black;
 }

 div{
    color: orange;
    margin: 12px;

 }